<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--< REPORT - Config Values for Extent Report >-->
		<add key="Project" value="Single Pipeline"/>

		<!--< ENVIRONMENT - Config Values for Test Initialisation >-->
		<!-- If new keys require to be added to the config file for url, please make sure key is environment name + "Url"-->
		<add key="TstUrl" value="https://singlepipelinetest.crm11.dynamics.com/main.aspx"/>
		<add key="newEnvUrl" value="http://pipelinetest.crm11.dynamics.com"/>
		<add key="DevUrl" value="https://pipelinedev.crm11.dynamics.com/"/>


		<!-- tst | dev | usr | train | pro -->
		<add key="Env" value="Tst"/>
		
		<!--< DRIVER - Config Values for Test Initialisation >-->

		<!-- chrome | edge | IE | firefox  -->
		<add key="Browser" value="chrome"/>
		
		
		<add key="Execution" value="local"/>
		
		<add key="KeyVaultName" value = "kv-pipasmt-qa-01"/>
		<add key="KeyVaultURI" value = "https://kv-pipasmt-qa-01.vault.azure.net/"/>

		<add key="AdminUsername" value="QA--Admin--Username"/>
		<add key="AdminPassword" value="QA--Admin--Password"/>

		
		<add key="ExistingProfile" value="no"/>

		<!-- Settings for IE  -->
		<add key="IEAcceptInsecureCertificates" value="false"/>
		<add key="IEClearCache" value="false"/>
		
		
		<!-- headless model only works with chrome at the moment -->
		<add key="Headless" value="false"/>  
		<add key="PAGE_LOAD_TIMEOUT" value="40"/>
		<add key="IMPLICIT_WAIT" value="20"/>
		
		<!--Key to be set to true if application is Angular and protractor to be used-->
		<add key="Angular" value="false"/>

		<!-- Turn switch for using Browserstack  -->
		<add key="ExecuteBrowserstack" value="false"/>

		<add key="BS_URL" value="https://hub-cloud.browserstack.com/wd/hub/"/>
		<add key="USERNAME" value="amosawaghade1"/>
		<add key="AUTOMATE_KEY" value="pQZXPsqq679VQfaHgzxE"/>		
		<add key="BsBrowser" value="chrome"/>
		<add key="BsVersion" value="83"/>
		<add key="BsOS" value="Windows"/>
		<add key="BsOSVersion" value="8"/>
		<add key="ConsoleLogs" value="verbose"/> 
	
	</appSettings>
</configuration>